body {
    font-family: "Roboto";
    color: white;
    font-size: 20px;
    margin: 0px;
}

header {
    width: 100%;
    height: 100px;
    background-color: #0f6195;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    padding: 10px;
    padding-top: 20px;
    flex: 0 0 100px;
    box-sizing: border-box;
}

#logo img {
    width: 50px;
}

#menu {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

#hamburger {
    display: none;
}

#menu .menuItem {
    flex: 0 0 0;
    padding: 20px;
    padding-top: 40px;
}

#menu .menuItem:hover {
    cursor: pointer;
    background-color: #0071b4;
}

#slider {
    /*le height doit absolument être dans le container*/
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/boat.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    padding-bottom: 100px;
}

#titleR {
    font-family: 'Roboto Slab';
    font-size: 120px;
    font-weight: bold;
    background-color: #0071b4;
    padding: 1%;
    color: #ffa500;
}

#titleC {
    color: white;
}

#groupe_produits {
    display: flex;
    /*permet de zoomer/rétressir la fenêtre et les éléments se wrap au lieu de resize*/
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    height: 400px;
    gap: 10px;
}

#groupe_produits>div {
    width: 250px;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
}

.imgProduits {
    object-fit: cover;
}

.titleProduits {
    font-size: large;
    font-weight: bold;
    color: #12403E;
    padding: 15px;
    border-bottom: 1px solid #000;
}

.txtProduits {
    color: #000;
    font-weight: bold;
    padding: 15px;
}

.arrowProduits {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.parentArrowProduits {
    position: relative;
}

#groupe_news_form {
    display: flex;
    justify-content: center;
    /*le height doit absolument être dans le container*/
    height: 400px;
    margin: 10px;
    padding: 20px;
    gap: 10px;
}

#groupe_news_form>div {
    /*le width peut être ici*/
    width: 510px;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
}

.titleNewsForm {
    font-size: large;
    font-weight: bold;
    color: #12403E;
    padding: 15px;
    padding-bottom: 0px;
}

.invisibleBorder {
    border: 1px solid white;
    padding: 10px 10px;
}

.invisibleBorderNewsForm {
    color: #000;
    border-bottom: 1px solid #000;
}

.txtNewsForm {
    color: #000;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 60%;
    padding: 10px;
    margin: 8px 20%;
    display: inline-block;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 2px;
}

button {
    background-color: #0071b4;
    border-color: #0071b4;
    border-radius: 2px;
    color: #fff;
    padding: 10px;
    margin: 8px 20%;
    width: 60%;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#footer {
    background-color: #0f6195;
    /*le height doit absolument être dans le container*/
    height: 50px;
    margin: 10px;
}

@media only screen and (max-width: 500px) {

    body {
        font-size: 8px;
    }

    .bulletMenu {
        flex-flow: column wrap;
        padding: 0;
    }

    .bulletMenu a {
        padding: 10px;
    }

    .bulletMenu li:last-of-type a {
        border-bottom: none;
    }

    #test22 {
        display: inline-block;
        align-self: flex-end;
        align-items: end;
        position: relative;
    }

    #slider {
        /*le height doit absolument être dans le container*/
        height: 200px;
    }

    #groupe_produits {
        /*le height doit absolument être dans le container*/
        height: 800px;
        padding: 10 0 0 0;
    }

    #groupe_produits div {
        width: 100%;
    }

    #groupe_news_form {
        background-color: white;
        flex-wrap: wrap;
        /*le height doit absolument être dans le container*/
        height: 400px;
        padding: 0 0 0 0;
    }

}